---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<div id="featured">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

</div>

{% endif %}

<!-- Posts Index
================================================== -->
<div class="section-categories">
    <div class="section-tag">
        <h2>All Apps</h2>
        <div class="packages table trio">
            {% for post in paginator.posts %}

            {% include postbox.html %}
    
            {% endfor %}
        </div>
    </div>
</div>



<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

