<!-- begin post -->
{% assign author = site.authors[post.author] %}

<a href="{{ site.baseurl }}{{ post.url }}">
    {% if post.banner %}
    <div class="package has-header-image" style="background-image: url('{% if post.banner contains "://" %}{{ post.banner }}{% else %}{{ site.baseurl }}/{{ post.banner }}{% endif %}');">
    {% else %}
    <div class="package has-header-image" style="background-image: url('{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}');">
    {% endif %}
        <div class="main" style="color: rgb(255, 255, 255);">
            <span class="badge-text">Featured</span>
            <span class="title">{{ post.title }}</span>
        </div>
    </div>
</a>
<!-- end post -->
