---
title: "Categories"
layout: default
permalink: "/categories.html"
---

{% for category in site.categories %}
{% assign pages_list = category[1] %}
<div class="section-categories">
    <div id="{{ category[0] | replace: " ","-" }}" class="section-category">
        <h2>{{ category[0] }}</h2>
        <div class="packages table trio">
            {% for post in pages_list %}
            {% if post.title != null %}
            {% if group == null or group == post.group %}
            {% include postbox.html %}  
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}
