---
layout: default
disqus: false
archive: false
post_class: post-template
---

{% if page.baner %}

{% if site.lazyimages == "enabled" %}
<div class="package-header-image" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=');" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"></div>
{% else %}
<div class="package-header-image" style="background-image: url('{% if page.baner contains "://" %}{{ page.baner }}{% else %}{{ site.baseurl }}/{{ page.baner }}{% endif %}');"></div>
{% endif %}

{% endif %}

<div class="package-header">
    <div class="package-icon">
        {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}">
            {% else %}
            <img src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}">
            {% endif %}

        {% endif %}
    </div>
    <div class="info">
        <h1>{{ page.title }}</h1>
        <p class="lead">Version: {{ page.version }}</p>
    </div>
    <div class="purchase-button nano-hide">
        <a href="{{ page.down }}">IPA</a>
        <p class="sale"></p>
    </div>
</div>
<div id="screenshots" class="section">
    <h3>Screenshots</h3>
    <div class="screenshots">
        {% for screenshot in page.screenshots %}
            <img src="{{ screenshot }}">
        {% endfor %}
    </div>
</div>
<div id="description" class="section">
    <h3>Description</h3>
    <p>{{ page.description }}</p>
</div>
